<main cds-layout="vertical gap:lg p:lg" cds-text="body">

  <div class="main-container">

    <header class="header-6">
      <div class="branding">
        <a href="javascript://">
          <clr-icon shape="vm-bug"></clr-icon>
          <span class="title">
            <img src="assets/img/truck.png"/>
            Virtual Express V1.1
          </span>
        </a>
      </div>
      <div class="settings">
        <a aria-label="settings" class="nav-link nav-icon" href="javascript://">
          <clr-icon shape="cog"></clr-icon>
        </a>
      </div>
    </header>

    <div class="content-container app-background">
      <div class="content-area">
        <div class="clr-row clr-justify-content-center">
          <div class="clr-col-lg-8 clr-col-12">
            <div class="card">
              <div class="card-header">
                Shipping Information
              </div>
              <div class="card-block">
                <form [formGroup]="pricingForm">
                  <div class="card">
                    <div class="card-block">
                      <div>
                        <label>From Zipcode</label><br/>
                        <input formControlName="fromZip" id="fromZip" type="text"/>
                        <label>{{ fromAddress }}</label>
                      </div>
                      <div>
                        <label>To Zipcode</label><br/>
                        <input formControlName="toZip" id="toZipcode" type="text"/>
                        <label>{{ toAddress }}</label>
                      </div>
                      <div>
                        <label>Weight (lbs)</label><br/>
                        <input formControlName="weight" id="weight" type="text"/>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button (click)="onCalculate()" class="btn btn-primary" id="calculate" type="button">Calculate
                    </button>
                    <button (click)="enterAddress =true" class="btn btn-primary" id="onShip"
                            type="button">Ship!
                    </button>
                  </div>
                  <cds-divider></cds-divider>
                  <h3>
                    <label>Distance: {{ distance | number: '1.2'}} miles</label>
                  </h3>
                  <h3>
                    <label>Shipping cost: {{ price | currency}}</label>
                  </h3>
                </form>
              </div>
              <div class="card">
                <div class="card-header">
                  Shipment Tracking
                </div>
                <div class="card-block">
                  <clr-datagrid>
                    <clr-dg-column [clrDgField]="'timeSubmitted'" [clrDgSortOrder]="descSort">Time Submitted
                    </clr-dg-column>
                    <clr-dg-column>Status</clr-dg-column>
                    <clr-dg-column [clrDgField]="'trackingNumber'">Tracking Number</clr-dg-column>
                    <clr-dg-column [clrDgField]="'fromZip'">From Zip</clr-dg-column>
                    <clr-dg-column [clrDgField]="'toZip'">To Zip</clr-dg-column>
                    <clr-dg-row *clrDgItems="let order of orders">
                      <clr-dg-cell>{{order.timeSubmitted | date:'yyyy-MM-dd HH:mm'}}</clr-dg-cell>
                      <clr-dg-cell>{{order.status}}</clr-dg-cell>
                      <clr-dg-cell>{{order.trackingNumber}}</clr-dg-cell>
                      <clr-dg-cell>{{zeroPad(order.fromZip)}}</clr-dg-cell>
                      <clr-dg-cell>{{zeroPad(order.toZip)}}</clr-dg-cell>
                    </clr-dg-row>
                  </clr-datagrid>
                </div>
              </div>
            </div>
          </div>
          <!--div class="clr-col-lg-6 clr-col-12">
            <img src="assets/img/courier.png"/>
          </div-->
        </div>
      </div>
    </div>
  </div>
</main>

<clr-modal [(clrModalOpen)]="enterAddress">
  <h3 class="modal-title">Destination Address</h3>
  <div class="modal-body">
    <form [formGroup]="pricingForm">
      <div class="card">
        <div class="card-block">
          <div>
            <label>Name</label><br/>
            <input formControlName="toName" id="toName" type="text" value="John Doe"/>
          </div>
          <div>
            <label>Street</label><br/>
            <input formControlName="toName" id="toStreet" type="text" value="123 Main Street"/>
          </div>
          <div>
            <label>City/State</label><br/>
            <input formControlName="toName" id="toCity" type="text" value="{{ toAddress }}"/>
          </div>
          <div>
            <label>Zipcode</label><br/>
            <input formControlName="toName" id="tpZip" type="text" value="{{ pricingForm.get('toZip')?.value }}"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="enterAddress = false" class="btn btn-outline" type="button">Cancel</button>
    <button (click)="onShip()" [clrLoading]="shipBtnState" class="btn btn-primary" type="button">Ok</button>
  </div>
</clr-modal>

<router-outlet></router-outlet>
